{% extends 'base.html' %}

{% block body %}
<section class="hero is-light">
  <div class="hero-body">
    <p class="title">
      About
    </p>
    <p class="subtitle">
      Details about our project.
    </p>
  </div>
</section>

<div class="container mt-4 mb-4">
  <div class="section">
    <h2 class="title is-2">Project Description</h2>
    <p class="">
      Our proposed project is to build a movie database that allows users to search for a film by title, actor,
      director,
      genre, release year, total gross, runtime and its IMDB rating. This database, through its GUI, will allow users to
      search for films as part of a large table, or to filter their options with the available criteria. Users will also
      be able to create a personal profile where they can save selected films to favorites. This project requires a
      database so users can search and sort through large amounts of information (the films) and make selections based
      on
      their own criteria. We intend to develop our program using Python.
    </p>
  </div>
  <div class="section">
    <h2 class="title is-2">Technology Stack Used</h2>
    <p class="">

    </p>
  </div>

</div>

{% endblock %}