{% extends 'base.html' %}

{% block body %}

<h1 class="title">{{ the_title }}</h1>

<img alt="Photo: Bengal Tiger" src="{{ url_for('static', filename='images/tiger.jpg') }}">

<p>This is the index page for my example Flask app.</p>

<ul>
    <!-- note how items from routes in the the Python script are linked -->
    <li><a href="{{ url_for('signup') }}">Add New User</a></li>
    <li><a href="{{ url_for('results') }}">Results</a></li>
    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
</ul>

{% endblock %}