{% extends 'base.html' %}

{% block body %}
<section class="hero is-success">
    <div class="hero-body">
        <p class="title">
            Recommendations
        </p>
        <p class="subtitle">
            Movie recommendations based on your favorite movies!
        </p>
    </div>
</section>

<div class="container mt-4 mb-4">

    <!-- Top in YOUR City -->
    <div class="card">
        <div class="card-content">
            <div class="content">
                <h1 class="header is-1">Top Favorited Movies in <strong>{{ session['city'] }}</strong>:</h1>
                {% if top_your_city %}
                <table class="table">
                    <thead>
                        <tr>
                            <th><abbr title="Title">Title</abbr></th>
                            <th><abbr title="Favorited">Favorited</abbr></th>
                            <th><abbr title="Released Year">Year</abbr></th>
                            <th><abbr title="IMDB Rating">Rating</abbr></th>
                            <th><abbr title="Runtime">Runtime</abbr></th>
                            <th><abbr title="Certificate">Cert</abbr></th>
                            <th><abbr title="Director">Director</abbr></th>
                            <!-- <th><abbr title="Star Actors"> Star Actors</abbr></th> -->
                            <!-- <th><abbr title="Poster">Poster</abbr></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for movie in top_your_city %}
                        <tr>
                            <th>{{ movie['Title'] }}</th>
                            <td>{{ movie['Count'] }}</td>
                            <td>{{ movie['Released_Year'] }}</td>
                            <td>{{ movie['IMDB_Rating'] }}</td>
                            <td>{{ movie['Runtime'] }}</td>
                            <td>{{ movie['Certificate'] }}</td>
                            <td>{{ movie['Director'] }}</td>
                            <!-- <td>{{ movie['Star1'] }}, {{ movie['Star2'] }}, {{ movie['Star3'] }}, {{ movie['Star4'] }}</td> -->
                            <!-- <td><figure class="image is-12x17"><img src="{{ movie['Poster_Link']}}"></figure></td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No Movies Found.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <br>

    <!-- Top by Age -->
    <div class="card">
        <div class="card-content">
            <div class="content">
                <h1 class="header is-1">People around age <strong>{{ session['age'] }}</strong> also liked:</h1>
                {% if top_age %}
                <table class="table">
                    <thead>
                        <tr>
                            <th><abbr title="Title">Title</abbr></th>
                            <th><abbr title="Favorited">Favorited</abbr></th>
                            <th><abbr title="Released Year">Year</abbr></th>
                            <th><abbr title="IMDB Rating">Rating</abbr></th>
                            <th><abbr title="Runtime">Runtime</abbr></th>
                            <th><abbr title="Certificate">Cert</abbr></th>
                            <th><abbr title="Director">Director</abbr></th>
                            <!-- <th><abbr title="Poster">Poster</abbr></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for movie in top_age %}
                        <tr>
                            <th>{{ movie['Title'] }}</th>
                            <td>{{ movie['Count'] }}</td>
                            <td>{{ movie['Released_Year'] }}</td>
                            <td>{{ movie['IMDB_Rating'] }}</td>
                            <td>{{ movie['Runtime'] }}</td>
                            <td>{{ movie['Certificate'] }}</td>
                            <td>{{ movie['Director'] }}</td>
                            <!-- <td><figure class="image is-12x17"><img src="{{ movie['Poster_Link']}}"></figure></td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No Movies Found.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <br>

    <!-- Top Genre Cards -->
    <div class="card">
        <div class="card-content">
            <div class="content">
                <h1 class="header is-1">Top Genres:</h1>
                {% if top_genre %}
                <div class="columns is-multiline">
                    <div class="column is-12">
                        <div class="tags">
                            {% for genre in top_genre %}
                            <span class="tag is-success is-light is-large">{{ genre['Genre'] }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <br>

    <!-- Top Grossing Movies -->
    <div class="card">
        <div class="card-content">
            <div class="content">
                <h1 class="header is-1">Top Grossing Movies:</h1>
                {% if top_grossing %}
                <table class="table">
                    <thead>
                        <tr>
                            <th><abbr title="Title">Title</abbr></th>
                            <th><abbr title="Gross">Gross</abbr></th>
                            <th><abbr title="Released Year">Year</abbr></th>
                            <th><abbr title="IMDB Rating">Rating</abbr></th>
                            <th><abbr title="Runtime">Runtime</abbr></th>
                            <th><abbr title="Certificate">Cert</abbr></th>
                            <th><abbr title="Director">Director</abbr></th>
                            <!-- <th><abbr title="Star Actors"> Star Actors</abbr></th> -->
                            <!-- <th><abbr title="Poster">Poster</abbr></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for movie in top_grossing %}
                        <tr>
                            <th>{{ movie['Title'] }}</th>
                            <td>{{ "${:,.2f}".format(movie['Gross']) }}</td>
                            <td>{{ movie['Released_Year'] }}</td>
                            <td>{{ movie['IMDB_Rating'] }}</td>
                            <td>{{ movie['Runtime'] }}</td>
                            <td>{{ movie['Certificate'] }}</td>
                            <td>{{ movie['Director'] }}</td>
                            <!-- <td>{{ movie['Star1'] }}, {{ movie['Star2'] }}, {{ movie['Star3'] }}, {{ movie['Star4'] }}</td> -->
                            <!-- <td><figure class="image is-12x17"><img src="{{ movie['Poster_Link']}}"></figure></td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No Movies Found.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <br>

    <!-- Top Actors -->
    <div class="card">
        <div class="card-content">
            <div class="content">
                <h1 class="header is-1">Top Favorited Actors:</h1>
                {% if top_actors %}
                <div class="columns is-multiline">
                    <div class="column is-12">
                        <div class="tags">
                            {% for actor in top_actors %}
                            <span class="tag is-danger is-light is-large">{{ actor['Name'] }} - {{ actor['Favorited'] }} </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <br>

    <!-- Top by City -->
    <div class="card">
        <div class="card-content">
            <div class="content">
                <h1 class="header is-1">Top Movies by City (TODO):</h1>
                {% if top_by_city %}
                <table class="table">
                    <thead>
                        <tr>
                            <th><abbr title="Title">Title</abbr></th>
                            <th><abbr title="Favorited">Favorited</abbr></th>
                            <th><abbr title="Released Year">Year</abbr></th>
                            <th><abbr title="IMDB Rating">Rating</abbr></th>
                            <th><abbr title="Runtime">Runtime</abbr></th>
                            <th><abbr title="Certificate">Cert</abbr></th>
                            <th><abbr title="Director">Director</abbr></th>
                            <!-- <th><abbr title="Star Actors"> Star Actors</abbr></th> -->
                            <!-- <th><abbr title="Poster">Poster</abbr></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for movie in top_by_city %}
                        <tr>
                            <th>{{ movie['Title'] }}</th>
                            <td>{{ movie['Count'] }}</td>
                            <td>{{ movie['Released_Year'] }}</td>
                            <td>{{ movie['IMDB_Rating'] }}</td>
                            <td>{{ movie['Runtime'] }}</td>
                            <td>{{ movie['Certificate'] }}</td>
                            <td>{{ movie['Director'] }}</td>
                            <!-- <td>{{ movie['Star1'] }}, {{ movie['Star2'] }}, {{ movie['Star3'] }}, {{ movie['Star4'] }}</td> -->
                            <!-- <td><figure class="image is-12x17"><img src="{{ movie['Poster_Link']}}"></figure></td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No Movies Found.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <br>

</div>
{% endblock %}