{% extends 'base.html' %}

{% block body %}
<section class="hero is-success">
    <div class="hero-body">
        <p class="title">
            Recommendations
        </p>
        <p class="subtitle">
            Movie recommendations based on your favorite movies!
        </p>
    </div>
</section>

<div class="container mt-4 mb-4">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <h1 class="header is-1">Top Favorited Movies in <strong>{{ session['city'] }}</strong>.</h1>
                <h1 class="header is-1">Most Liked Movies for Viewers Age <strong>{{ session['age'] }}</strong>.</h1>
                
            </div>


        </div>
    </div>

</div>
{% endblock %}