{% extends "base.html" %}

{% block body %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="username" required="required" placeholder="Username" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input" type="password" required="required" name="password" placeholder="Password">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input" type="number" name="age"  required="required" placeholder="Age" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="city" required="required" placeholder="City" autofocus="">
                </div>
            </div>

            <p class="help is-danger">{{ msg }}</p>
            <br/>

            <button class="button is-block is-link is-large is-fullwidth">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}